<!DOCTYPE html>
<html ⚡>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8">

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    {{!-- Brand icon --}}
    <link rel="icon" type="image/png" href="{{asset "favicon.png"}}">

    {{amp_ghost_head}}

    {{!-- Styles'n'Scripts --}}
    <style amp-custom>
            /* **************************************

            GENERAL FONT / ELEMENT

            *****************************************/
            html body {
                font-family: 'Roboto' ,sans-serif;
            }

            .amp-template, .content {
                background-image:url('{{asset "bgpattern.png"}}');
            }

            h1 {
                font-size: 220%;
                font-family:'Slabo 27px', serif;
            }

            h2 {
                font-size: 195%;
                font-family:'Slabo 27px', serif;
            }

            h3 {
                font-size: 175%;
                font-family:'Slabo 27px', serif;
            }

            h4 {
                font-size: 140%;
                font-family:'Slabo 27px', serif;
            }

            p {
                text-rendering: geometricPrecision;
            }

            p > a {
                text-decoration: underline;
            }

            hr {
                display: block;
                height: 1px;
                border: 0;
                border-top: 1px solid #e0e0e0;
                margin-top: 0px;
                padding: 0;
            }

            pre {
                line-height: 30px;
            }

            blockquote {
                position:relative;
                padding-top:20px;
                padding-bottom:20px;
                background-color: whitesmoke;
                border-left: 0;
            }

            blockquote:before, blockquote:after {
                color:black;
                content:'\f10d';
                font-family:'FontAwesome';
                font-size:30px;
                position:absolute;
                top:5px;
                left:8px;
                display:block;
            }
            blockquote:after {
                content:'\f10e';
                bottom:0;
                right:8px;
                top:auto;
                left:auto;
            }

            blockquote > p {
                font-style: italic;
                    text-align:left;
                    margin-left:30px;
            }

            pre {
                padding-left:30px;
                padding-right:30px;
                padding-top:5px;
                padding-bottom:5px;
                background-color: #f5f7f8;
            }

            strong {
            font-weight: 700;
            }

            p > a, .side-nav a, .pagination > a > i:hover, .collection .collection-item, .collection-item > a {
                color: #FF4500;
            }

            p > a:focus, p > a:hover, li.pagination-arrows a i:hover, .socialfooter > a > i:hover, .socialfooter a:hover
            {
            color:#FF4500;
            }

            .postdate a, .tag_heading {
                color: white;
            }

            .posttitle > a {
            color: white;
            text-decoration: none;
            }

            .post-image amp-img {
                padding: 0;
                margin: 0;
                height: auto;
                width: auto;
                max-width: 100%;
                
            }

            .post-subitems {
                text-align:center;
                padding: 25px;
                border-bottom: 1px solid #ebebeb;
                margin-bottom: 35px;
                font-size: 14px;
                color: black;
                text-decoration: none;
                font-weight: bold;
            }

            .post-subitems > a
            {
                color:black;
            }

            .posttitle {
                font-size:220%;
                margin: 35px;
                margin-bottom: 0;
                text-align:center;
            }

            .posttitle > a:hover {
            text-decoration: none;
            }

            /* **************************************

            HEADER

            *****************************************/
            /* color of clickable header */
            .headerurl {
                text-decoration: none;
            }

            .headerurl:hover {
            text-decoration: none;
            }

            .brand-logo {
                margin:0;
            }

            img.logo {
                height:48px;
                margin-top: -12px;
                float:left;
                margin-left: 1%;
            }

            nav ul li {
                float: right;
            }

            nav ul a {
                color: black;
            }

            /* **************************************

            CONTENT MAIN

            *****************************************/
             .content {
                margin-left: 80px;
                margin-right: 80px;
             }   

             .post {
                 max-width: 1200px;
             }

            .collection {
                margin:0px;
                border: 0;
            }

            .collection-item {
                border-bottom: 1px solid #f0f0f0;
            }

            .collection .collection-item:hover {
                background-color: #e0e0e0;
            }

            .content > .text-left-title,  .postdate > a, .author-profile h4, .text-left-title a, article > h1, article > h2, article > h3, article > h4, .postdate a:hover, .author-url-post-head  {
                color:#979797;
            }

            /* **************************************

            HEADER

            *****************************************/
            .main-header {
                height: 48px;
                background: #f8f8f8;
            }
 
            /* color of clickable header */
            .headerurl {
                text-decoration: none;
                font-size: 16px;
                font-weight: 600;
                display: block; 
                margin-left: 10px;
            }

            .brand-logo {
                padding-top: 13px;
            }

            .headerurl:hover {
            text-decoration: none;
            }

            img.cover {
                width:100%;
                margin-bottom:15px;
            }

            .brand-logo > a {
                color: black;
            }
            /* ######################################

            POST/ARTICLE HEADERS

            ##########################################*/

            .text-left-title a {
                text-decoration: none;
            }


            .postdate {
                padding: 10px;
                position:absolute;
                top:30px;
                right:30px;
                opacity:0.7;
                z-index:1;
                background-color:black;
                color:white;
            }

            .content > .collection > .collection-item {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            }

            /* **************************************

            ARTICLE/POST LOOK-N-FEEL

            *****************************************/
            .card-content {
                border-bottom: 1px solid #ebebeb;
                padding-bottom: 35px;
            }

            .card-content > h1 {
                font-size: 210%;
                font-family:'Slabo 27px', serif;
                font-weight: 300;
            }

            .card-content > h2 {
                font-size: 180%;
                font-family:'Slabo 27px', serif;
                font-weight: 300;
            }

            .card-content > h3 {
                font-size: 165%;
                font-family:'Slabo 27px', serif;
                font-weight: 300;
            }

            .card-content > h4 {
                font-size: 140%;
                font-family:'Slabo 27px', serif;
                font-weight: 300;
            }

            .card-content > ul li {
                list-style-type: square;
                margin-left: 40px;
                margin-right: 40px;
                padding:5px;
                line-height: 35px;
            }

            .card-content > ol li {
                margin-left: 40px;
                margin-right: 40px;
                padding:5px;
                line-height: 35px;
                text-align: justify;
            }

            article {
                padding-top: 15px;
                word-wrap: break-word;
                background:white;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 100px;
                padding-left: 30px;
                padding-right: 30px;
                height: 100%;
            }

            .card .card-content p {
                margin-top: 16px;
                margin-bottom: 16px;
            }

            .posthead-image {
                width: 100%;
                max-width:1200px;
                display:block;
                margin-left: auto;
                margin-right: auto;
            }

            .card-content > img, .card-content > p > img {
                width: 100%;
                height:auto;
                display:block;
                margin-left:auto;
                margin-right:auto;
                margin-bottom: 20px;
                margin-top:20px;
            }

            iframe {
                max-width: 100%;
                display:block;
                margin-left:auto;
                margin-right: auto;
                margin-top:20px;
                margin-bottom:20px;
            }

            .fa-clock, .fa-user, .fa-book {
                margin-right: 10px;
                color: black;
            }

            .fa-user, .fa-book {
                margin-left: 25px;
            }


            /* **************************************

                ARTICLE: AUTHOR look-n-feel

            *****************************************/

        .author-profile h4 a {
            text-decoration: underline;
        }

        img.avatar {
            border-radius: 15px;
            width: auto;
            max-width: 100%;
            height: auto;
            float:left;
            z-index:200;
            margin-top: 25px;
        }

        .homepage-avatar {
            height: auto;
            border-radius: 25px;
        }

        .post-authors {
            text-align: center;
            display: block;
        }

        .post-authors a {
            color: black;
        }

        .post-authors a:hover {
            color: #979797;
        }

        .post-avatar {
            height: auto;
            width: 50px;
            border-radius: 50px;
            margin-top: 20px;
            text-align: center;
            display: block;
        }

        .avatar-page {
            width:150px;
            border-radius: 150px;
        }

        .author-name {
            font-size:200%;
            font-weight: 300;
        }

        .author-social {
            margin-top: 50px;
        }

        .author-social > a > i {
            color:black;
            margin: 5px;
        }

        .socialauthor {
            padding: 15px;
        }

        .socialauthor > ul > li {
            margin-top: 10px;
            margin-bottom:10px;
        }

        .author-bio-text {

        }

        /* some mobile specific junk */
        @media (max-width:600px) and (min-width:200px) {
            .posttitle {
                font-size: 175%;
            }

            .content {
                margin-left: auto;
                margin-right: auto;
            }

           .post-avatar {
                height: auto;
                width: 48px;
            }

            img.avatar {
                width: 100px;
                text-align: center;
                float: none;
                margin-left: auto;
                margin-right: auto;
                display: block;
                margin-top: 30px;
                margin-bottom: 10px;
            }
        }

    /* Bootstrap workaround */
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    </style>

    {{!-- The AMP boilerplate --}}
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    {{amp_components}}

</head>

<body class="amp-template">
    <header class="main-header">
        <nav class="brand-logo">
            <a href="{{@blog.url}}" class="headerurl">{{@blog.title}}</a>
        </nav>
    </header>

    <main class="content" role="main">
    {{#post}}
        <article class="post">


            <header class="post-header">
                <section class="post-meta">
                <span class="card-title">
                    <p class="posttitle center">{{title}}</p>
                </span>
                <div class="post-authors text-center">
                        <a href="{{url}}" title="{{name}}">{{authors separator=" &bull; "}}</a> 
                </div>
                <div class="post-subitems">
                    <time datetime="{{date format="DD-MM-YYYY"}}">{{date format="DD MMMM YYYY"}}</time> <br />
                    {{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}
                </div>
                </section>
            </header>
            <section class="card-content">

                {{amp_content}}

            </section>
                {{#primary_author}}
                <section class="author-profile">
                <div class="row">
                    <div class="col-sm-2 col-md-2">
                        {{#if profile_image}}
                            <amp-img src="{{img_url profile_image}}" class="avatar" title="{{title}}" alt="Image of {{name}}" layout="responsive" height="150px" width="150px"></amp-img>
                        {{else}}
                            <amp-img src="{{asset "images/fallback-user.jpg"}}" class="avatar" title="{{title}}" alt="Image of {{name}}" layout="responsive" height="150px" width="150px"></amp-img>  
                        {{/if}}
                    </div>
                    <div class="col-sm-10 author-bio-text">
                        <h3>{{name}}</h3>
                    {{#if bio}}
                        {{bio}}
                    {{else}}
                        {{t "Whoops...that's not looking good. People have no idea who you are?!"}}
                
                    {{/if}}
                    </div>
                </div>
                </section>

                {{/primary_author}}

        </article>
 {{/post}}
    </main>
</body>
</html>
