{{#get "posts" limit="3" filter="featured:true" order="published_at desc" as |featured| }}
<div id="carousel" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
       {{#foreach featured}}
            <div class="carousel-item {{#if @first}}active{{/if}}" title="{{title}}" alt="Header image of {{title}}" style="background-image:url('{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/fallback-image.jpg"}}{{/if}}')">
            <a href="{{url}}" >
                     <div class="carousel-caption d-none d-md-block">
                        <h1 class="h-slider">{{title}}</h1>
                    </div>
                    </a>
            </div>
      {{/foreach}}

              <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
</div>
</div>
{{/get}}