<div class="row justify-content-md-center">

{{#foreach posts}}


          <div class="card">
                <div class="col col-sm-5 col-md-6 col-lg-5">
                    <a href="{{url}}"><img src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/fallback-image.jpg"}}{{/if}}" class="homepage-image" alt="{{title}}" title="{{title}}"></a>   
                </div>

                 <div class="col col-sm-7 col-md-6 col-lg-7">                     
                      <div class="card-block">
                        <h2 class="card-title"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
                          <div class="card-actions-top">

                              {{#foreach authors}}
                                  <a href="{{url}}" title="{{name}}"><img src="{{#if profile_image}}{{img_url profile_image}}{{/if}}" class="homepage-avatar" alt="{{t "Written by"}} {{name}}" title="{{t "Written by"}} {{name}}"></a> 
                              {{/foreach}}
                              <small class="text-muted badge">
                                  <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
                            </small>
                            {{#if featured}}
                            <span class="badge-featured">
                              <i class="far fa-star"></i>
                            </span>
                        {{/if}}     
                          </div>
                        <p class="card-text">{{excerpt words="21"}}</p>
                      </div>
                </div>
          </div>  

{{/foreach}}

</div>